@page
@{
}

<br /><br /><br />
            <ul>
                <li>Delete the cart from Cart service</li>
                <li>Decrease the <i>InventoryCount</i> of the purchased item</li>
            </ul>